<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative">
      <div class="overlay"></div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title  home text-center">
              <span class="heading-page"> Welcome to the <span style="color: var(--vz-primary)">Vize AI</span> dashbord
              </span>
              <!--<p class="mt20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>-->
            </div>

            <div class="hexagon-menu clear">
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" routerLink="/dashboard/analytics">
                  <span class="hex-content-inner">
                      <span class="icon">
                          <i class="bi bi-clipboard2-data-fill"></i>
                      </span>
                      <span class="title">{{'NAVBAR.ANALYTICS' | translate}}</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="var(--card)"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" routerLink="/dashboard/user-list">
                  <span class="hex-content-inner">
                      <span class="icon">
                          <i class="bi bi-person-lines-fill"></i>
                      </span>
                      <span class="title">{{'NAVBAR.USERS' | translate}}</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="var(--card)"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" routerLink="/dashboard/product">
                  <span class="hex-content-inner">
                      <span class="icon">
                          <i class="bi bi-currency-dollar"></i>
                      </span>
                      <span class="title">{{'NAVBAR.PRODUCTS' | translate}}</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="var(--card)"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" routerLink="/dashboard/coupon">
                  <span class="hex-content-inner">
                      <span class="icon">
                          <i class="bi bi-percent"></i>
                      </span>
                      <span class="title">{{'NAVBAR.COUPONS' | translate}}</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="var(--card)"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item disabled">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content">
                  <span class="hex-content-inner">
                      <span class="icon">
                          <i class="fa fa-life-ring"></i>
                      </span>
                      <span class="title">Work in progress</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="var(--card)"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item" (click)="openSettings()">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content">
                  <span class="hex-content-inner">
                      <span class="icon">
                          <i class="bi bi-gear-wide-connected"></i>
                      </span>
                      <span class="title">{{'NAVBAR.SETTINGS' | translate}}</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="var(--card)"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" (click)="logout()">
                  <span class="hex-content-inner">
                      <span class="icon">
                          <i class="bi bi-box-arrow-right"></i>
                      </span>
                      <span class="title">{{'NAVBAR.LOGOUT' | translate}}</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                      fill="var(--card)"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-settings></app-settings>
