<div class="row top-bar-container">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <button class="more-btn btn btn-dark px-3 mr-3" title="{{'COMMON_ELEMENTS.GO_TO_MENU' | translate}}" routerLink="/menu">
          <i class="bi bi-arrow-left" style="font-size: 16px"></i>
        </button>
        <h2 class="row__title">{{('NAVBAR.' + title?.toUpperCase()) | translate}} <span *ngIf="items?.length > 0">({{items?.length}})</span></h2>
      </div>
      <div class="d-flex">
        <ng-container *ngIf="buttons">
          <ng-container *ngFor="let btn of buttons">
            <button aria-expanded="false" class="more-btn btn px-3 mr-3" [ngClass]="btn.class? btn.class : 'btn-success'" title="{{btn.title}}" (click)="btn.event_()">
              <i class="{{btn.icon}} mr-0 mr-md-2"></i>
              <span class="d-md-block d-none">{{btn.title}}</span>
            </button>
          </ng-container>
        </ng-container>
        <button (click)="refresh.emit()" class="btn btn-dark px-3 mr-3" title="{{'COMMON_ELEMENTS.REFRESH' | translate}}"><i class="bi bi-arrow-repeat"></i></button>
        <button class="more-btn btn btn-dark px-3" routerLink="" (click)="logout()" title="{{'NAVBAR.LOGOUT' | translate}}">
          <i class="bi bi-box-arrow-right" style="font-size: 16px"></i>
        </button>
      </div>
    </div>
  </div>
</div>
