.top-bar-container{
  position: sticky;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-card-color);
  border-top: 1px solid var(--border-card-color);
  top: 66px;
  z-index: 99;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px #0003;
}

.more-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-btn span{
  font-size: 14px;
}
