.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: var(--bg-color2);
  border-radius: 15px;
}
.logo {
  width: 110px;
  margin: auto;
}
.logo img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--text-color-w);
}
.wrapper a:hover {
  color: var(--hover-bg-color);
}
@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}

input, button{
  display: block;
  height: 48px !important;
  width: 270px;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}
input{
  margin-bottom: 8px;
  color: var(--bg-color2);
}

button:disabled{
  background: var(--inactive-color);
  color: var(--bg-color2);
  cursor: not-allowed;
}

.btn-active {
  padding: 0.75rem 2rem;
  color: var(--bg-color2);
  background-color: var(--hover-bg-color);
}
