.tabs-container {
  display: flex;
  overflow: hidden;
}

header {
  position: relative;
}

.tab-content-wrapper {
  overflow: hidden;
  height: 300px;
  width: 100%;
  padding: 0 16px;
}

.tab-content h2 {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 8px;
}

.tab-content {
  font-size: 1.4rem;
  min-height: 300px;
  min-width: 240px;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-card-color);
  list-style-type: none;
  padding-right: 16px;
  gap: 8px;
}

.tabs li{
  cursor: pointer;
}

.tabs a {
  position: relative;
  display: flex;
  text-decoration: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color3);
  text-align: left;
  border-radius: 8px;
  justify-content: start;
  padding: 12px;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}

.tabs a img {
  height: 20px;
  width: 20px;
}

.tabs .active, .tabs a:hover {
  font-weight: 700;
  outline: none;
  color: var(--text-color2);
  background-color: var(--card);
}


.tabs a i {
  stroke: var(--text-color3);
}

.tabs .active i {
  stroke: var(--text-color);
}

.tabs a:hover i {
  stroke: var(--text-color2);
}


/* language tab */

.box-lang{
  cursor: pointer;
}
.box-flag{
  display: flex;
  justify-content: center;
}
.box-flag img{
  width: 40px;
  height: 40px;
}
.box-flag img:hover{
  transform: scale(1.1);
}
.activeLang{
  border-top: 2px solid #00AD0C;
}
