.spin {
  margin: 20px auto;
  width: 100%;
  background: var(--bar2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}

.dark-bg {
  background: var(--bar2) !important;
}

.spin .circle {
  animation: spinners linear infinite;
  border: 5px solid transparent;
  border-top-color: #F00;
  border-radius: 50%;
  position: absolute;
}

.spin .one {
  width: 50px;
  height: 50px;
  border-top-color: #7010ff;
  animation-duration: .85s
}

.spin .two {
  width: 70px;
  height: 70px;
  border-top-color: var(--vz-primary);
  animation-duration: .95s
}

.spin .three {
  width: 100px;
  height: 100px;
  border-top-color: #cca9ff;
  animation-duration: 1.05s
}


@keyframes spinners {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}
