.card{
  height: 100%;
  background: var(--card);
  border: var(--border-card);
  border-radius: 12px;
}
.heading {
  font-size: 1.8rem;
  color: #fcfcfc;
  font-weight: 500;
  text-align: left;
}

.table{
  color: var(--text-color-w);
}

.thead-dark{
  background: rgb(155,128,151,1) !important;
}

/*box*/
.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.stats i {
  color: var(--vz-primary);
  font-size: 60px;
}
