<div class="container">
  <div class="row row--top-40">
    <div class="col-md-12">
      <h2 class="row__title">Employees (7)</h2>
    </div>
  </div>
  <div class="row row--top-20">
    <div class="col-md-12">
      <div class="table-container">
        <table class="table">
          <thead class="table__thead">
          <tr>
            <th class="table__th">Name</th>
            <th class="table__th">Policy</th>
            <th class="table__th">Policy status</th>
            <th class="table__th">Destination</th>
            <th class="table__th">Status</th>
            <th class="table__th">Progress</th>
            <th class="table__th">Action</th>
          </tr>
          </thead>
          <tbody class="table__tbody">
          <tr class="table-row table-row--chris table-row--red">
            <td class="table-row__td">
              <div class="table-row__img"></div>
              <div class="table-row__info">
                <p class="table-row__name">Christin Ericssen</p>
                <span class="table-row__small">CFO</span>
              </div>
            </td>
            <td data-column="Policy" class="table-row__td">
              <div class="">
                <p class="table-row__policy">$5,000</p>
                <span class="table-row__small">Basic Policy</span>
              </div>
            </td>
            <td data-column="Policy status" class="table-row__td">
              <p class="table-row__p-status status--green status">Approved</p>
            </td>
            <td data-column="Destination" class="table-row__td">
              Huston, US
            </td>
            <td data-column="Status" class="table-row__td">
              <p class="table-row__status status--green status">Active</p>
            </td>
            <td data-column="Progress" class="table-row__td">
              <p class="table-row__progress status--blue status">On Track</p>
            </td>
            <td class="table-row__td">

              <button>edit</button>

              <button>delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
