.navbar{
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px #0003;
  background-color: var(--bg-color2) !important;
}
img{
  height: 50px;
}
.bg-dark{

}
.navbar-dark .navbar-toggler{
  border: none;
  font-size: 16px;
}
.navbar-dark .navbar-nav .nav-link{
  font-size: 18px;
}
