/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-color: #12161c;
  --bg-color2: #0c0f13;
  --active-color: #25be64;
  --inactive-color: #dadde4;
  --new-color: #febf02;
  --text-color-w: #ffffff;
  --text-color-b: #0c0f13;
  --table-bg-color: #fefefe;
  --table-head-bg-color: #e1e8f2;
  --table-border-color: #edeef2;
  --hover-bg-color-vecchio: #fb4f83;
  --hover-text-color: #ffffff;
  --vz-primary: #c457d4;
  --vz-primary2: #FF56AF;
  --vz-primary3: #FF7286;
  --vz-secondary: #FF9E65;
  --vz-secondary2: #FFCD59;
  --vz-secondary3: #F9F871;
  --text-color: #fafafa;
  --text-color2: #e8eaed;
  --text-color3: #aaaaad;
  --bar2: #0c0f13;
  --card: #1C1C1F;
  --card-hover: #222224;
  --border-card: 1px solid rgba(255, 255, 255, 0.12);
  --border-card-color: rgba(255, 255, 255, 0.12);
  --danger: #e36767;
  --success: #6cdb56
}
html {
  font-size: 10px;
}
body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--text-color-w);
  background-color: var(--bar2);
  font-family: 'Questrial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1;
}
input:focus{
  box-shadow: none !important;
}

input{
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  transition: none;
}

.btn-outline-danger{
  color: var(--danger);
  border-color: var(--danger);
}
.btn-outline-success{
  color: var(--success);
  border-color: var(--success);
}

.card{
  height: 100%;
  background: var(--card);
  border: var(--border-card);
  border-radius: 12px;
}

.more-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.more-btn span{
  font-size: 14px;
}

.modal-content{
  background: var(--card);
  border: var(--border-card);
  border-radius: 12px;
}
.modal-header{
  border-bottom: none;
}
.modal-header .close{
  color: var(--text-color2);
}
.modal-footer{
  border-top: none;
}
